<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Edit product</title>
</head>

<body>
    {{!-- header --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">ATN Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav p-1">
                <li class="nav-item text-light"><a class="nav-link" href="/">HOME</a></li>
                <li class="nav-item"><a class="nav-link" href="/addproduct">Add Product</a></li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <h1>Update Product</h1>
        <form action="/update" method="post">
            <input type="hidden" name="txtId" value="{{products._id}}">
            <h5>Name</h5>
            <div class="input-group mb-3">
                <input type="text" name="txtName" value="{{products.name}}" class="form-control" aria-label="Default"
                    aria-describedby="inputGroup-sizing-default">
                <span style="color:red">{{nameError}}</span>
            </div>
            <h5>Price</h5>
            <div class="input-group mb-3">
                <input type="text" name="txtPrice" value="{{products.price}}" class="form-control" aria-label="Default"
                    aria-describedby="inputGroup-sizing-default">
                <span style="color:red">{{modelError1}}</span>
            </div>

            <h5>Category</h5>
            <div class="input-group mb-3">
                <input type="text" name="txtCategory" value="{{products.category}}" class="form-control"
                    aria-label="Default" aria-describedby="inputGroup-sizing-default">
                <span style="color:red"></span>
            </div>
            <h5>Image Url</h5>
            <div class="input-group mb-3">
                <input type="text" name="txtImage" value="{{products.image}}" class="form-control" aria-label="Default"
                    aria-describedby="inputGroup-sizing-default">
                <span style="color:red">{{errorLink}}</span>
                <label style="color:red">{{ urlErro}}</label>
            </div>
            <button type="submit" value="Update" class="btn btn-outline-primary"
                onclick="return confirm('Are your sure?')">Update</button>
        </form>
    </div>


    {{!-- footer --}}
    <div class="footer">
        <footer class="container-fluid text-center">
            <span class="footer-copyright">OnePice Shop © Copyright 2021. All Rights Reserved.</span>
        </footer>
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>