<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>ATN Shop</title>
</head>

<body>
    <div class="app">
        {{!-- header --}}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">ATN Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav p-1">
                    <li class="nav-item text-light"><a class="nav-link" href="/">HOME</a></li>
                    <li class="nav-item"><a class="nav-link" href="/addproduct">Add Product</a></li>
                    <li class="nav-item text-light"> <a class="nav-link" href="/sapxeptang">UP</a></li>
                    <li class="nav-item text-light"><a class="nav-link" href="/sapxepgiam">Down</a></li>
                </ul>
            </div>
        </nav>

        {{!-- content --}}
        <div class="container">


            <div id="mycarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100"
                            src="https://phamdo18.com/wp-content/uploads/2020/10/tong-hop-hinh-nen-one-piece-dep-nhat-hien-nay3-scaled.jpg"
                            alt="One Piece">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100"
                            src="https://c4.wallpaperflare.com/wallpaper/738/62/544/naruto-chidori-naruto-naruto-uzumaki-rasengan-naruto-sasuke-uchiha-hd-wallpaper-preview.jpg"
                            alt="Naruto">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100"
                            src="https://static2.vieon.vn/vieplay-image/thumbnail_v4/2021/08/02/1ytsftc0_1920x1080-thanhguomdietquy.jpg"
                            alt="Thanh gươm diệt quỷ">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <script>$('.carousel').carousel({
                        interval: 20
                    })</script>
            </div>

            {{!-- //search --}}

            <div class="home_page">
                <div class="input-group">
                    <form method="POST" action="/category" class="col-md-4 px-0 mt-2">
                        <input type="text" class="form-control" list="title_product" name="txtName"
                            placeholder="Enter name categories">
                    </form>
                    <form method="POST" action="/search" class="mt-2 col-md-8 px-0">
                        <input type="text" class="form-control" list="title_product" name="txtName"
                            placeholder="Enter name product">
                    </form>

                </div>

                {{!-- show products --}}
                <div class="products">
                    <div class="mt-4">
                        <div class="row">
                            {{#each products}}
                            <div class="card" style="width:21rem; ; margin:1rem">
                                <img class="card-img-top" style="width:310px;height:309.15px" src="{{image}}">
                                <div class="card-body">
                                    <h5 class="card-title text-capitalize">{{name}}</h5>
                                    <div class="row justify-content-between mx-0">
                                        <h6 class="text-danger">Price: {{price}}$</h6>
                                    </div>
                                    <div class="row justify-content-between mx-0">
                                        <a class="btn btn-success" style="margin-right:5px;flex:1"
                                            href="/edit/{{_id}}">Edit</a>
                                        <a class="btn btn-danger" style="margin-right:5px;flex:1"
                                            onclick="return confirm('Are your sure?')" href="/delete/{{_id}}">Delete</a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>

            </div>
            {{!-- footter --}}

            <div class="footer">
                <footer class="container-fluid text-center">
                    <span class="footer-copyright">OnePice Shop © Copyright 2021. All Rights Reserved.</span>
                </footer>
            </div>




</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>